<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>

<body>
	<header th:replace="plantilla/template :: header"></header>

	<div class="container my-3">

		<div class="card">

			<div class="card-header"  th:text="${titulo}"></div>
			<div class="card-body">

				<form th:action="@{/views/videojuego/save}" th:object="${videojuego}" method="post">
					<div class="form-group row py-2">
					
						<input type="hidden" th:field="*{id_videojuego}">
					
						<label  class="col-md-2" for="titulo">Titulo:</label> 
						<input type="text" th:field="*{titulo}" class="form-control-sm col-md-6 border"
							id="titulo" placeholder="Titulo videojuego">
							<small></small>
					</div>

					<div class="form-group row py-2">
						<label class="col-md-2" for="dir">Director:</label> 
						<select th:field="*{director}" class="form-control-sm col-md-6 border"id="dir"> 
						<option th:each="director:${directores}" 
						th:value="${director.id_director}"
						th:text="${director.nombre}"/> 
					</select>				
					</div>

					<div class="form-group row py-2">
						<label class="col-md-2" for="prod">Productor:</label> 
						<select th:field="*{productor}" class="form-control-sm col-md-6 border"id="prod"> 
						<option th:each="productor:${productores}" 
						th:value="${productor.id_productor}"
						th:text="${productor.nombre}"/> 
					</select>				
					</div>
					
					
					<div class="form-group row py-2">
						<label class="col-md-2" for="prod">Protagonista:</label> 
						<select th:field="*{protagonista}" class="form-control-sm col-md-6 border"id="prod"> 
						<option th:each="protagonista:${protagonistas}" 
						th:value="${protagonista.id_protagonista}"
						th:text="${protagonista.nombre}"/> 
					</select>				
					</div>

					
					<div class="form-group row py-2">
						<label class="col-md-2" for="prod">Marca:</label> 
						<select th:field="*{marca}" class="form-control-sm col-md-6 border"id="prod"> 
						<option th:each="marca:${marcas}" 
						th:value="${marca.id_marca}"
						th:text="${marca.descripcion}"/> 
					</select>				
					</div>
					
							

					<div class="form-group row py-2">
						<label class="col-md-2" for="precio_alquiler">Precio Alquiler:</label> <input
							type="text" th:field="*{precio_alquiler}" class=" form-control-sm col-md-6 border"
							id="precio_alquiler" placeholder="valor alquiler por dia"> <small></small>
					</div>
					
					<div class="form-group row py-2">
						<label class="col-md-2" for="precio_alquiler">stock:</label> <input
							type="text" th:field="*{stock}" class=" form-control-sm col-md-6 border"
							id="stock" placeholder="Cantidad de videojuegos disponibles"> <small></small>
					</div>
					
					<div class="form-group row py-2">
						<label class="col-md-2" for="fecha_lanzamiento">Fecha Lanzamiento:</label> <input
							type="date" th:field="*{fecha_lanzamiento}" class=" form-control-sm col-md-6 border"
							id="fecha_lanzamiento" placeholder="fecha lanzamiento videojuego"> <small></small>
					</div>
					
					<div class="form-group row py-2">
						<label class="col-md-2" for="plataforma">Plataforma:</label> <input
							type="text" th:field="*{plataforma}" class=" form-control-sm col-md-6 border"
							id="plataforma" placeholder="plataforma videojuego"> <small></small>
					</div>
					
					<div>
					
					<input type="submit" class="btn btn-secondary btn-sm" value="Guardar"/>
					
					</div>
			

				</form>



			</div>

		</div>

	</div>
	
	<footer th:replace="plantilla/template :: footer"></footer>
	
</body>
</html>