<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>

<body>
	<header th:replace="plantilla/template :: header"></header>

	<div class="container my-3">

		<div class="card">

			<div class="card-header"  th:text="${titulo}"></div>
			<div class="card-body">

				<form th:action="@{/views/protagonista/save}" th:object="${protagonista}" method="post">
					<div class="form-group row py-2">
					
						<input type="hidden" th:field="*{id_protagonista}">
					
						<label  class="col-md-2" for="nombre">Nombre:</label> 
						<input type="text" th:field="*{nombre}" class="form-control-sm col-md-6 border"
							id="nombre" placeholder="Nombres del protagonista">
							<small></small>
					</div>
					
					<div class="form-group row py-2">
						<label class="col-md-2" for="apellido">Apellido:</label> <input
							type="text" th:field="*{apellido}" class="form-control-sm col-md-6 border"
							id="apellido" placeholder="apellido del Protagonista"> <small></small>
					</div>
					

										
					<div>
					
					<input type="submit" class="btn btn-secondary btn-sm" value="Guardar"/>
					
					</div>
			

				</form>



			</div>

		</div>

	</div>
	
	<footer th:replace="plantilla/template :: footer"></footer>
	
</body>
</html>