<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>

<body>
	<header th:replace="plantilla/template :: header"></header>

	<div class="container my-3">
		<h1 th:text="${titulo}"></h1>
	</div>


	<div class="container">
	
	<a class="btn btn-secondary btn-sm" th:href="@{/views/clientes/crear}" th:text="'Nuevo Cliente'" title="Crear Nuevo Registro"></a>
	
	
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">NOMBRES</th>
					<th scope="col">APELLIDOS</th>
					<th scope="col">EDAD</th>
					<th scope="col">TELEFONO</th>
					<th scope="col">DIRECCION</th>
					<th scope="col">CORREO</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="c: ${cliente}">
					<th scope="row" th:text="${c.id_Cliente}"></th>
					<td th:text="${c.nombres}"></td>
					<td th:text="${c.apellidos}"></td>
					<td th:text="${c.edad}"></td>
					<td th:text="${c.telefono}"></td>
					<td th:text="${c.direccion}"></td>
					<td th:text="${c.email}"></td>
				</tr>
			</tbody>
		</table>
	</div>




	<footer th:replace="plantilla/template :: footer"></footer>
	>
</body>
</html>